
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  overflow: hidden;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    letter-spacing: 1px;
    line-height: 1.6;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: rgb(3, 103, 166);
  text-decoration: none;
}

