p {
    margin: 1rem 0;
}
.tip {
    background: $color1;
    color: $colorWhite;
    font-style: italic;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $color1;
}

.options {    
    font-family: $fontRoboto;
    padding: 2rem 0;
    background: $colorWhite;
    opacity: .98;
    z-index: 5;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
    
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__title {
        text-transform: uppercase;
        border-bottom: 1px solid $colorGrey;
        text-align: center;
        font-size: 2rem;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        & ul {
            margin-top: 1rem;
            & li {
                display: block;
            }
        }
    }

    &__price {
        padding-left: .7rem;
        width: 100%;
        margin: .5rem 0;
        font-size: 1.3rem;
        color: $color1;
    }

    &__button {
        letter-spacing: inherit;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        padding: .5rem 1rem;
        background: transparent;
        color: $color1;
        margin: 0 auto;
        border: 1px solid $color1;
        transition: all .4s ease;

        &:hover {
            background: $color1;
            color: $colorWhite;
        }


    }
}

.details {    
    font-family: $fontRoboto;
    padding: 2rem 0;
    background: $colorWhite;
    opacity: .98;
    z-index: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
    

    &__title {
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
    }

    &__desc {
        font-family: $fontRoboto;
        width: 80%;
        margin: 0 auto;
    }

    &__img {
        padding: 2rem;
        width: 100%;
        overflow: auto;
        border: 1px solid $colorWhite;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & img {
            width: 20%;
            min-width: 200px;
            margin: 1.25%;
            cursor: pointer;
            transition: all .4s;

            &:hover {
                box-shadow: 1px 3px 10px rgba(0,0,0, .8);
            }
        }
    }
}

.info {
    z-index: 10;
    border-top: 1px solid grey;
    background: $colorWhite;
    width: 100%;
    padding: 1.5rem 0;
    height: 11rem;

    &-title {
        font-size: 1.7rem;
    }

    &__container {
        padding: 0 1rem;
        width: 100%;
        z-index: 10  !important;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: auto;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            
        }
    }

    &__controls {
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        padding: 2rem;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    &__next {
        display: flex;
        align-items: center;
        & span {
            font-size: 2rem;
            margin-bottom: .2rem;
        }
    }

}

.home-button {
    white-space: nowrap;
    font-size: 1rem;
    letter-spacing: inherit;
    cursor: pointer;
    border: 1px solid $color1;
    background: transparent;
    padding: .5rem 1.5rem;
    transition: all .4s;
    color: $color1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5rem 1rem;
    outline: none;

    &:hover, &:active {
        background: $color1;
        color: $colorWhite;
    }
}

.buttonActive {
    background: $color1;
    color: $colorWhite;
}
